<head>
<style>
body {background-color: white;}
h1 {color: red;}
h4 {color: white; background-color: grey;
    border: 1px solid powderblue;
    padding: 20px;
    margin: 50px;}
</style>
</head>

<h1>Lista de Tarefas</h1>
<h3>Tarefas jรก cadastradas:</h3>
<% @tasks.each do |task| %>
  <h4><%= task.description %>
  <div style="color: red;"><%= if task.status == true 
          'executada' 
          else
          'pendente'
           end%></div>
  <div><button> <%= link_to 'Editar', edit_task_path(task) %> </button>
  <button> <%= link_to 'Apagar', task_path(task), 
  method: :delete, data: { confirm: 'Quer apagar esta tarefa?' }%></button></div></h4>
<% end %>